<!-- footer start -->
<footer>
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'link_list' %}
            <div class="col-md-4">
              <div class="widget_menu">
                <h3>Menu</h3>
                <ul>
                  {% for link in block.settings.footer_menu.links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>
<!-- footer end -->
<div class="cpy_">
  <p class="mx-auto">
    © 2021 All Rights Reserved By <a href="https://html.design/">Free Html Templates</a><br>

    Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
  </p>
</div>
{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_menu",
          "label": "Add your menu"
        }
      ]
    }
  ]
}
{% endschema %}
